---
name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        go: ["1.25"]
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true
          check-latest: true
      - name: build
        run: "go build ./..."

  test:
    strategy:
      matrix:
        go: ["1.25"]
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true
          check-latest: true
      - name: test
        run: go test -race ./...

  golangci:
    strategy:
      matrix:
        go: ["1.25"]
        lint: ["v2.8"]
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache: true
          check-latest: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ matrix.lint }}
